.flex-container {
    background-color: bisque;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 600px;
}
.flex-container div{
    background-color: peru;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 50px;
}
.flex-container #div7{
    background-color: peru;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 50px;
    order: 2;
    flex-grow: 4;
}
.flex-container #div6{
    order: 1;
    background-color: peru;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 50px;
    flex-grow: 4;
}
.flex-container #div121{
    flex-shrink: 5;
    background-color: red;
}
@media(max-width: 800px){
    .flex-container{
        flex-direction: column;
    }
}