<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Banco De Dados</title>
    </head>
    <body>
        <h1>Resposta Usuário</h1>
        <p> <%=resposta %></p>
    </body>
</html>