<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EJS2</title>
        <link href="exemplo.css" rel="stylesheet">
    </head>
    <body>
        <h1>Exemplo FOR</h1>

        <% for (var i =1; i <= qtde;  i++ ) { %>
            <div>
                <%= i %>
            </div>
        <% } %>

    </body>
</html>